[Desktop Entry]
Name=Casper Keyboard RGB
Name[tr]=Casper Klavye RGB
Comment=Control Casper Excalibur keyboard LED colours
Comment[tr]=Casper Excalibur klavye LED renklerini kontrol edin
Exec=casper-keyboard-rgb
Icon=preferences-desktop-keyboard
Type=Application
Categories=Utility;Settings;HardwareSettings;
Keywords=keyboard;rgb;led;casper;excalibur;backlight;
StartupNotify=true
